LAN_IP=192.168.1.50
POSTGRES_USER=icat
POSTGRES_PASSWORD=icat_local
POSTGRES_DB=icat_cricket
POSTGRES_TEST_DB=icat_cricket_test
PUBLIC_HTTP_ORIGIN=http://192.168.1.50:3333
PUBLIC_HTTPS_ORIGIN=https://192.168.1.50:3443
